# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Flask instance folder
instance/

# Cache
.pytest_cache/
.cache

# OS-specific
.DS_Store
